
*{margin: 0; padding: 0;}

.oneuser:hover .infouser {
    transform: rotateY(0deg);
}

.imageuser.text-xs-center {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 20px;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    transition: 0.4s;
    transform: rotateY(0deg);
    backface-visibility: hidden;
}
.oneuser img {
    width: 40%;
    border-radius: 50%;
    border: 7px solid white;
    box-shadow: 0 0 0 5px #00000059;
    margin-bottom: 9px;
}

.oneuser {
    width: 330px;
    height: 390px;
    border-radius: 4px;
    position: relative;
    perspective: 900px;
}

.oneuser:hover .imageuser {
    transform: rotateY(180deg);
} 

@font-face{
	src:url("fonts/Lato-Light.ttf");
	font-family: lotolight;
}
@font-face{
	src:url("fonts/Lato-Bold.ttf");
	font-family: lotobold;
}
@font-face{
	src:url("fonts/Lato-Regular.ttf");
	font-family: lotorr;
}
.ten{
	font-family: lotobold;
}
.vitri{
	font-family: lotolight;
}
.description{
	font-family: lotorr;
}
.infouser {
    width: 100%;
    height: 100%;
    background: red;
    color: white;
    padding: 20px;
    box-sizing: border-box;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    transition: 0.4s;
    transform: rotateY(-180deg);
    backface-visibility: hidden;
}